.idea
.env
discord-client/target
discord-server-resource-server/target
discovery-server/target
kafka-config/target
messaging/target
model/target
security-config/target
twitch-service/target
util/target
web-services/target